footer.footer
    span.footer__copy 2026 &copy; <a rel="me" href="https://hcj.gov.ua" style="color:white;"><u>Вища Рада Правосуддя</u></a><br>
    span.footer__copy 2026 &copy; <a rel="me" href="https://dsa.court.gov.ua" style="color:white;"><u>Державна Судова Адміністрація</u></a><br>
    span.footer__copy 2026 &copy; <a rel="me" href="https://ics.gov.ua" style="color:white;"><u>Інформаційні Судові Системи</u></a><br>
    br
    br
    br
    script(src='https://groupoid.space/highlight.js?v=1')
